<ion-view title="Native">
  <ion-content>
    <br></br>
    <div id="map_canvas"></div>
    <button ng-click="centerOnMeClick()" class="button button-block button-positive">
      Center On Me
    </button>
    <button ng-click="dropMarkerClick()" class="button button-block button-positive">
      Drop Marker
    </button>
  </ion-content>
</ion-view>
