<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic 2 Map
    </ion-title>
    <ion-buttons end>
      <button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>
