<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script> <!-- NonNative  -->
    <script src="js/controllers.js"></script>
    <script src="app/native/native.js"></script>
    <script src="app/nonNative/nonNative.js"></script>

  </head>
  <body ng-app="app">
    <div>
      <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu side="right">
          <ion-header-bar>
            <h1 class="title">myApp</h1>
          </ion-header-bar>
          <ion-content>
            <ion-list>
              <ion-item href="#/native" ng-click="closeMenu()">Native</ion-item>
              <ion-item href="#/nonNative" ng-click="closeMenu()">Non-native</ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>
        <ion-side-menu-content drag-content="false">
          <ion-nav-bar class="bar-balanced">
            <ion-nav-buttons side="right">
              <button ng-click='toggleMenu()' class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-back-button class="button-clear">
              <i class="ion-arrow-left-c"></i> Back
            </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
      </ion-side-menus>
    </div>
  </body>
</html>
